
<main class="main">
    <section id="hero" class="hero section dark-background">
        <img src=".\img\bg-test.jpg" alt="Hero Background" data-aos="fade-in" />
        
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <h2>Harshada Shinde</h2>
          <p>
            I'm 
            <span class="typed" data-typed-items="Designer, Software Developer, Front End Developer">Full Stack Developer</span>
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
            <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
          </p>
        </div>
      </section>
      
</main>
