<main class="main">
  <!-- Portfolio Section -->
<section id="portfolio" class="portfolio section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Certifications</h2>
    <p>My Certifications validate the Skills and knowledge necessary to excel in various Professional domains,
      including Angular, Asp.net,Mysql,Github,Boostrap,CSS and Tailwind CSS.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-app">Asp.Net Core</li>
        <li data-filter=".filter-product">CSS</li>
        <li data-filter=".filter-branding">Angular</li>
        <li data-filter=".filter-books">HTML</li>
      </ul><!-- End Portfolio Filters -->

      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
          <div class="portfolio-content h-100">
            <img src="./img/portfolio/CertificateOfCompletion_Building Web APIs with ASP.NET Core 8_page-0001.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ASP.NET 1</h4>
              <p>Building Web APIs with ASP.NET Core 8</p>
              <a href="./img/portfolio/CertificateOfCompletion_Building Web APIs with ASP.NET Core 8_page-0001.jpg" title="Asp.Net 1" data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a routerLink="/certification-details/1" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
          <div class="portfolio-content h-100">
            <img src="./img/portfolio/javascript_basic certificate_page-0001.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Js Certifications 1</h4>
              <p>javascript_basic</p>
              <a href="./img/portfolio/javascript_basic certificate_page-0001.jpg" title="javascript_basic 1"
                data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a routerLink="/certification-details/2" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
          <div class="portfolio-content h-100">
            <img src="./img/portfolio/CertificateOfCompletion_Learning Angular_page-0001.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Angular Certification </h4>
              <p>Learning Angular</p>
              <a href="./img/portfolio/CertificateOfCompletion_Learning Angular_page-0001.jpg" title="Angular 1"
                data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a routerLink="/certification-details/3" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
          <div class="portfolio-content h-100">
            <img src="./img/portfolio/javascript_intermediate certificate_page-0001.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Js certification 2</h4>
              <p>javascript_intermediate</p>
              <a href="./img/portfolio/javascript_intermediate certificate_page-0001.jpg" title="Branding 1" data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a routerLink="/certification-details/4" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
          <div class="portfolio-content h-100">
            <img src="./img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Certificate 2</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="./img/portfolio/" title="App 2" data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product 2</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Product 2"
                data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Branding 2</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Branding 2"
                data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Books 2</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Branding 2" data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="App 3" data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Product 3"
                data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Branding 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Branding 2"
                data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                  class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
          <div class="portfolio-content h-100">
            <img src="assets/img/portfolio/" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Books 3</h4>
              <p>Lorem ipsum, dolor sit amet consectetur</p>
              <a href="assets/img/portfolio/" title="Branding 3" data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div>
        </div><!-- End Portfolio Item -->

      </div><!-- End Portfolio Container -->

    </div>

  </div>

</section><!-- /Portfolio Section -->

</main>